{% extends "categories/base.html" %}

{% block title %}{{category.name}}{% endblock %}

{% block main %}
    <div class="container">
      {% if user.is_superuser == True %}
<!--    add post button-->
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">
          <strong>
            <a
            href="{% url 'new_post' category_id=category.pk %}"
            class="nav-link mb-1"
            >Add post</a>
          </strong>
        </button>
      </div>

      {% endif %}
    </div>
<br>
<!--the post contents-->
<div class="card">
    {% for post in category.posts.all %}

      <div class="card-body">
          <a href="{% url 'post' category_id=category.pk post_id=post.pk %}" class="btn btn-light mb-1" >{{post.title}}</a>
          <h6 class="card-subtitle mb-2 text-muted">{{post.category}}</h6>
          <p class="card-text">{{post.content}}</p>
          <p class="card-text"><strong>{{post.created_by.username}}</strong> {{post.created_dt}}</p>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock main %}